@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.gradient-dots {
  position: fixed;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  pointer-events: none;
}


.gradient-dots div {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  animation: float 3s infinite ease-in-out;
  animation-delay: calc(0.5s * var(--i));
}


body {
  background-color: #B8F3FF;
  color: #36213E;
  margin: 0;
  padding: 0;
}


body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #624e8f, #8aa8cb);
  z-index: 1;
}




/* Bordered form */
form {
  border: 3px solid #63768D;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
 
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0; /* Increased spacing */
  display: inline-block;
  border: 1px solid #8AC6D0;
  box-sizing: border-box;
}
 
  /* Set a style for all buttons */
  button {
    background-color: #624e8f;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, opacity 0.3s; /* Smooth hover effect */
  }
 
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
    background-color: #4e7ca2;
  }
 
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #4f305b;
  }
 
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
 
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
 
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
 
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
 
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  .electrolize-regular {
    font-family: "Electrolize", serif;
    font-weight: 400;
    font-style: normal;
  }
